.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  position: relative;
  background-color: #19a1ae;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 1000px top -500px, left 800px bottom -1300px;
}
.card {
  max-width: 19.44rem;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 50px 50px 5px rgba(0, 0, 0, 0.1);
}
.card-hero {
  background-image: url(./images/bg-pattern-card.svg);
}

.card-img img {
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  transform: translate(50%, 50%);
}
h1 {
  font-size: 18px;
  margin-bottom: 3.5rem;
}
h1 .age {
  font-weight: 400;
  margin-left: 9px;
}
